{% extends 'dashboard/index.html.twig' %}

{% block title %}{{'addProductTemplate.title'|trans}}{% endblock %}

{% block body %}
<div class="m-5 px-5">
    <h3>{{'addProductTemplate.subtitle'|trans}}</h3>

    {{form(form)}}
</div>
{% endblock %}
