{% extends 'dashboard/index.html.twig' %}

{% block title %}{{'editProductTemplateTitle'|trans}}{% endblock %}

{% block body %}
<div class="m-5 px-5">
    <h3>{{product.name}}</h3>

    {{form(form)}}
</div>
{% endblock %}
