body {
  margin: 0;
  font-family: Atacama VAR;
}

/*********************** PRODUCT *****************************/

.product {
  width: 18vw;
  margin: 1vw;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 2vh;
  text-decoration: none;
  color: black;
}

.product:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.product-image {
  width: 17vw;
  height: 17vw;
  margin: 0.5vw;
}

.product:hover .product-image {
  width: 18vw;
  height: 18vw;
  margin: auto;
}

.product p {
  margin: 0;
}

/*********************** PANIER *****************************/

.cart-product-image {
  width: 8vw;
  height: 8vw;
  margin: 0.5vw;
}

/*********************** DESCRIPTION *****************************/

.information {
  display: flex;
}

.information div:nth-of-type(2) {
  padding: 5vw;
}

.information .backgroundImage {
  min-width: 40vw;
}

.description {
  margin-bottom: 10vh;
}

.toggle-description {
  display: none;
}

.short-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
  transition: max-height 0.5s ease;
}

.toggle-description:checked ~ .short-description {
  max-height: 100vh;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.toggle-label {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 5px;
  transition: color 0.3s ease;
  border-bottom: 1px solid black;
}

.toggle-label .read-less {
  display: none;
}

.toggle-description:checked ~ .toggle-label .read-more {
  display: none;
}

.toggle-description:checked ~ .toggle-label .read-less {
  display: inline;
}

/*********************** DIVERS *****************************/

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.importantInfo {
  font-weight: bold;
  color: #33383cff;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #33383cff !important;
  border-color: #33383cff !important;
}

/*********************** CART *****************************/
.cart {
  position: relative;
}
.cartSize {
  display: flex;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: small;
  padding: 0px 7px;
  justify-content: center;
  text-align: center;
  top: 0px;
  left: 25px;
}

/*********************** CARROUSEL *****************************/
.tales {
  width: 100%;
}
.carousel-inner {
  width: 100%;
  height: 80vh;
}

/*********************** CATEGORY *****************************/
.category {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2vw;
}
.category div {
  height: 80vh;
  width: 30vw;
}

.category .man {
  background-image: url("https://media.licdn.com/dms/image/v2/D4E12AQHgM83NoTPXeg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1726872278686?e=2147483647&v=beta&t=YhBthLodNIv79jKoKkioqGBbcS-ZgpQkXee6P6gUKk8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.category .woman {
  background-image: url("https://media.licdn.com/dms/image/v2/D4E12AQHgM83NoTPXeg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1726872278686?e=2147483647&v=beta&t=YhBthLodNIv79jKoKkioqGBbcS-ZgpQkXee6P6gUKk8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.category .mixte {
  background-image: url("https://media.licdn.com/dms/image/v2/D4E12AQHgM83NoTPXeg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1726872278686?e=2147483647&v=beta&t=YhBthLodNIv79jKoKkioqGBbcS-ZgpQkXee6P6gUKk8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
