body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*********************** PRODUCT *****************************/

.product {
  width: 18vw;
  margin: 1vw;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 2vh;
  text-decoration: none;
  color: black;
}

.product:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.product-image {
  width: 17vw;
  height: 17vw;
  margin: 0.5vw;
}

.product:hover .product-image {
  width: 18vw;
  height: 18vw;
  margin: auto;
}

.product p {
  margin: 0;
}

/*********************** DESCRIPTION *****************************/

.information {
  display: flex;
}

.information div:nth-of-type(2) {
  padding: 5vw;
}

.information .backgroundImage {
  min-width: 40vw;
}

.description {
  margin-bottom: 10vh;
}

.toggle-description {
  display: none;
}

.short-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
  transition: max-height 0.5s ease;
}

.toggle-description:checked ~ .short-description {
  max-height: 100vh;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.toggle-label {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 5px;
  transition: color 0.3s ease;
  border-bottom: 1px solid black;
}

.toggle-label .read-less {
  display: none;
}

.toggle-description:checked ~ .toggle-label .read-more {
  display: none;
}

.toggle-description:checked ~ .toggle-label .read-less {
  display: inline;
}

/*********************** DIVERS *****************************/

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.importantInfo {
  font-weight: bold;
  color: rgb(255, 130, 151);
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgb(255, 130, 151) !important;
  border-color: rgb(255, 130, 151) !important;
}
