
{% set panier = app.session.get('panier')|default([]) %}
{% set totalQuantites = 0 %}
{% for quantity in panier %}
    {% set totalQuantites = totalQuantites + quantity %}
{% endfor %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand mx-5" href="/">Parfumerie Online</a>
  <div class="px-3" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active mx-3 cart">
        <a class="nav-link" href="/cart">{{ ux_icon('cil:cart',{width:'30px'}) }}</a>
        <p class="cartSize">{{ totalQuantites }}</p>
      </li>
      {% if is_granted('ROLE_USER') %}
        <li class="nav-item active"><a class="nav-link" href="/logout">{{ ux_icon('bi:door-open',{width:'30px'}) }}</a></li>
      {% else %}
        <li class="nav-item active"><a class="nav-link" href="/login">{{ ux_icon('bi:person',{width:'30px'}) }}</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
