{% extends 'dashboard/index.html.twig' %}

{% block title %}Gerer les produits{% endblock %}

{% block body %}
    {% include 'partials/flash.html.twig' %}
    <a type="button" href="/product/create" class="btn btn-secondary mt-3 ">Ajouter un produit</a>
    {% include 'partials/productList.html.twig' %}
{% endblock %}
